<mat-card class="example-card">
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Add product">
        <div class="example-button-container">
            <button mat-raised-button color="primary" class="button" id="add" (click)="openAddProductPopUp()">
                <i class="material-icons" role="presentation">add</i>
                <!-- <span class="visuallyhidden"></span> -->
              </button>
          </div>
    </mat-tab>
    <mat-tab label="View Products"></mat-tab>
    <mat-tab label="View Cart"></mat-tab>
  </mat-tab-group>
</mat-card>
  
