.example-card {
    max-width: 400px;
    width: 350px;
    height: 480px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
    